@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope",sans-serif;
}

/* For hiding the vertical scrollbar */
.scroll::-webkit-scrollbar {
    width: 0;
  }
  
  /* For hiding the horizontal scrollbar */
  .scrollbar::-webkit-scrollbar {
    height: 0;
  }
  
  /* For hiding both vertical and horizontal scrollbars */
  .controller::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  /* Make the scrollbar transparent (if it's still visible) */
  .thumb::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .header-menu{
    font-size: 17.3px !important;
    font-weight: 700 !important;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 15px 20px;
  }

  /* Hide the default arrow */
.currency-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

/* Example CSS to change the dropdown color */
/* class="ant-menu ant-menu-root ant-menu-inline ant-menu-light custom-dropdown-menu css-dev-only-do-not-override-xu9wm8" */
.ant-drawer-body{
  padding: 20px 0 !important;
}
.ant-menu-submenu-title{
  color: black !important;
  width: 100% !important;
}

.ant-menu-submenu-title:hover {
  background-color: inherit !important;
}

.ant-menu-root{
  border: none !important;
}

.ant-menu-submenu-arrow {
  display: none !important;
}

.header-menu {
color:rgba(0, 0, 0, 0.7);
background-color:#000000;
background-color:rgba(0, 0, 0, 0);
font-family: manrope, sans-serif;
font-size: 17.2px;
line-height: normal;
vertical-align: baseline;
letter-spacing: -1px;
word-spacing: 0px;
font-weight: 900;
font-style: normal;
font-variant: normal;
text-transform: none;
text-decoration: none solid rgba(0, 0, 0, 0.7);
text-align: left;
text-indent: 0px;
}

.join{
color: #333333;
color: rgb(51, 51, 51);
background-color:#000000;
background-color:rgba(0, 0, 0, 0);
font-family: manrope 500, sans-serif;
font-size: 17.1px;
line-height: normal;
vertical-align: baseline;
letter-spacing: -0.8px;
word-spacing: 1.4px;
font-weight: bolder !important;
font-style: normal;
font-variant: normal;
text-transform: none;
text-decoration: none solid rgb(51, 51, 51);
text-align: left;
text-indent: 0px;
}

.login {
font-family: manrope, sans-serif;
font-size: 16.8px;
word-spacing: 0px;
font-weight: 700;

}

.ant-card {
  border-radius: 4px !important;
}

.swiper-button-prev{
  font-size: 30px !important;
  font-weight: bolder;
  top: 70px !important;
  left: 0px !important;
  background-color: white !important;
  border-radius: 50%;
  width: 35px !important;
  height: 35px !important;
  padding: 5px;
}

.swiper-button-next{
  font-size: 30px !important;
  font-weight: bolder;
  right: 9px !important;
  top: 70px !important;
  background-color: white !important;
  border-radius: 50%;
  width: 35px !important;
  height: 35px !important;
  padding: 5px;
}

.swiper-button-prev::after{
  font-size: 18px !important;
  color: black;
  width: 30px !important;
  height: 30px;
  border-radius: 50%;
  background-color: white !important;
  padding: 6px !important;
}

.swiper-button-next::after{
  font-size: 18px !important;
  color: black;
  width: 30px !important;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  padding: 6px 12px !important;
}

.swiper-pagination{
  text-align: right !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.swiper-pagination-bullet{
  background-color: rgb(255, 255, 255,0.5) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active{
  background-color: white !important;
  padding: 5px;
}

.ant-modal {
  width: 450px !important;
  top: 28px;
}

.ant-modal.css-dev-only-do-not-override-xu9wm8 div {
  border-radius: 4px;
  left: -17px;
}

.ant-modal-footer {
  display: none;
}

.ant-input {
  padding-left: 7px !important;
}
.ant-input::placeholder{
  color: #808080 !important;
  /* padding-inline-start: 7px !important; */
  font-size: 15.4px !important;
}

.ant-input-suffix{
  font-size: 19px !important;
  padding-right: 21px !important;
}

.ant-image-mask {
  display: none !important;
}

/* placeholder:text-[#808080] placeholder:ps-11 text-[15.4px] */

  